**1**

In [2]:
d = {'a': [1, 2, 3], 'b': [4, 5], 'c': [6, 7, 8]}
total = 0
for v in d.values():
    total += sum(v)
print(total)

36

**2**

In [1]:
d = {
    'person1': {'name': 'Ali', 'age': 25},
    'person2': {'name': 'Sara', 'age': 30},
    'person3': {'name': 'Reza', 'age': 28}
}
ages = {}
for key, value in d.items():
    ages[key] = value['age']
print(ages)

{'person1': 25, 'person2': 30, 'person3': 28}

**3**

In [9]:
d = {'a': [5, 3, 8], 'b': [12, 7, 6], 'c': [1, 2, 3], 'd': [10, 15, 20]}
d1 = {}

for key, values in d.items():
    for v in values:
        if v > 10:
            d1[key] = values
            break

print(d1)

{'b': [12, 7, 6], 'd': [10, 15, 20]}

**4**

In [17]:
d = {
    '2022-05-01': 15,
    '2023-01-10': 20,
    '2021-12-25': 10
}
dict = dict(sorted(d.items()))
print(dict)

{'2021-12-25': 10, '2022-05-01': 15, '2023-01-10': 20}

**5**

In [20]:
d = {
'product1': 45,
'product2': 30,
'product3': 55,
'product4': 20
}
d1 = []

for key, value in d.items():
    if value <= 50:
        d1.append(key)

print(d1)

['product1', 'product2', 'product4']

**6**

In [29]:
d = {
'Tehran': [32, 33, 35, 36, 34],
'Shiraz': [30, 31, 32, 33],
'Isfahan': [28, 29, 31, 32]
}
d1 = {}

for key, value in d.items():
    d1[key] = max(value)

print(d1)

{'Tehran': 36, 'Shiraz': 33, 'Isfahan': 32}

**7**

In [33]:
d = {
'student1': {'name': 'Ali', 'age': 17},
'student2': {'name': 'Sara', 'age': 19},
'student3': {'name': 'Reza', 'age': 16}
}
d1 = {}

for key, value in d.items():
    if value['age'] < 18:
        d1[key] = value

print(d1)

{'student1': {'name': 'Ali', 'age': 17}, 'student3': {'name': 'Reza', 'age': 16}}