**T21**

In [ ]:
lst = [2, 3, 4, 5, 6, 7]

def prime_list(l):
    result = []
    for n in l:
        for i in range(2, int(n)):
            if n % i == 0:
                break
        else:
            result.append(n)
    return result

print(prime_list(lst))

[3, 4, 5, 5, 5, 6, 6, 7, 7, 7, 7, 7]

**T22**

In [19]:
lst = [121, 123, 131, 456]

def palindrome_list(l):
    result = []
    for i in l:
        s = str(i)
        if s == s[::-1]:
            result.append(s)
    return result

print(palindrome_list(lst))

['121', '131']

**T23**

In [27]:
lst = [153, 370, 371, 123]

def armstrong_list(l):
    result = []
    for i in l:
        digit = str(i)
        power = len(digit)
        total = sum(int(d) ** power for d in digit)
        if total == i:
            result.append(i)
    return result

print(armstrong_list(lst))

[153, 370, 371]

**T24**

In [ ]:
lst = [6, 28, 12, 496]

def perfect_number(l):
    result = []
    for i in l:
        total = 0
        for x in range(1, i):
            if i % x == 0:
                total += x
        if total == i:
            result.append(i)
    return result

print(perfect_number(lst))

[6, 28, 496]

**T25**

In [ ]:
lst = [1, 2, 2, 3, 4, 4, 5]

def number(l):
    result = []
    for i in l:
        if l.count(i) > 1:
            result.append(i)
    return list(set(result))

print(number(lst))

[2, 4]

**T26**

In [41]:
lst = [1, -2, 3, -4]

def negetive_list(l):
    result = []
    for i in l:
        if i < 0:
            result.append(i)
    return result

print(negetive_list(lst))

[-2, -4]

**T27**

In [42]:
lst = [1, 2, 3, 4, 5, 6]

def oven_list(l):
    result = []
    for i in l:
        if i % 2 == 0:
            result.append(i)
    return result

print(oven_list(lst))

[2, 4, 6]

**T28**

In [43]:
lst = [1, 2, 3, 4, 5, 6]

def odd_list(l):
    result = []
    for i in l:
        if not i % 2 == 0:
            result.append(i)
    return result

print(odd_list(lst))

[1, 3, 5]

**T29**

In [44]:
lst = [100, 99, 1000, 123, 4567]

def digit_three(l):
    result = []
    for i in l:
        if len(str(i)) == 3:
            result.append(i)
    return result

print(digit_three(lst))

[100, 123]

**T30**

In [46]:
lst = [100, 99, 1000, 1234, 4567]

def digit_four(l):
    result = []
    for i in l:
        if len(str(i)) == 4:
            result.append(i)
    return result

print(digit_four(lst))

[1000, 1234, 4567]